@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(0, 0%, 90%);
}

.card {
    @apply flex flex-col gap-1 px-7 py-6 rounded-t-[2.5%] border-t-[0.369rem] shadow-xl h-auto my-auto bg-white;
}
.card > h2 {
    @apply font-semibold text-xl;
}
.card > p {
    @apply text-[0.822rem] text-grey-400;
}
.card > img {
    @apply self-end my-6 size-16;
}
